<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles }}
</head>

<body>
    <div class="header">
        {{!-- <img src="https://crestwood-files.s3.us-west-2.amazonaws.com/public/images/avatar-123.png"
            alt="crestwood-logo" /> --}}
    </div>
    <h1>Hi {{name}}</h1>
    <p>We hope you enjoyed your time with us at Zuri Place. Just a quick note to let you know that your<br>
        booking has now ended. If there's anything we can assist you with before you leave, please feel free to reach
        out.
        <br>
        We look forward to having you stay with us again in the future!
    </p>
    <div class="footer">Regards, <br>Zuri Place</div>
</body>

</html>