<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> styles }}
</head>
<body>
    <div class="header">
        {{!-- <img src="https://crestwood-files.s3.us-west-2.amazonaws.com/public/images/avatar-123.png" alt="crestwood-logo"/> --}}
    </div>
    {{!-- <h1>Welcome to Zuri Place</h1> --}}
    <p>A booking has been made by {{email}} for room {{room}} on {{date}}.</p>
    <div class="footer">Regards, <br>Zuri Place</div>
</body>

</html>